<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.inid.sil.geektest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GifDrawableActivity">
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StackBlurActivity">
        </activity>
        <activity android:name=".DanmakuFlameActivity">
        </activity>
        <activity android:name=".danmaku.UglyViewCacheStufferSampleActivity">
        </activity>
        <activity android:name=".XRecyclerViewActivity">
        </activity>
        <activity android:name=".SmartRefreshActivity">
        </activity>
    </application>

</manifest>